@import '../../index.scss';

.homePage {
    overflow-x: hidden;
}

.shop {
    margin: 12rem 11.6vw 16.8rem 11.6vw;
    min-height: 28.4rem;
}

.hero {
    width: 100vw;
    background-color: $color-secondary;
    color: white;
    min-height: calc(100vh - 8.1rem);

    &__detail {
        height: 50rem;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        padding-left: 11.45vw;

        &__new {
            @include text-style-overline;

        }

        &__title {
            @include text-style-h1;
            margin: 2.4rem 0 2.4rem 0;

        }

        &__des {
            @include text-style-title;
            margin-bottom: 4rem;
        }
    }

    &__img-container {
        height: calc(100vh - 8.1rem);
        display: flex;
        align-items: center;
        justify-content: center;
        // width: 100%;
    }

    &__img {
        height: calc(100vh - 8.1rem);
        object-fit: cover;
    }
}

.button-primary {
    @include text-style-button;
    @include button-basic;
    background-color: $color-primary !important;
    color: $color-neutrals-8;
    // border-radius: 50px !important;
    width: 16rem !important;
    height: 4.8rem !important;
    border: none !important;

    &:hover {
        background-color: $color-primary-light !important;
        transform: translateY(-.3rem) !important;
    }

    &:active {
        border-color: $color-primary !important;
        background: $color-primary !important;
        transform: translateY(0.3rem) !important;

    }
}