@import "../../index.scss";

.story {
    min-height: 58.8rem;
    display: flex;

    @media only screen and (max-width: 992px) {
        flex-direction: column;
        width: 100%;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__title {
        @include text-style-h2;

        span {
            color: $color-primary;
        }
    }

    &__detail {
        @include text-style-title;
    }

    &__img {
        border-radius: 8px;

    }
}