@import "../../base.scss";

.register-form {
    width: 450px;
    margin-right: auto !important;
    margin-left: auto !important;
    color: white;
}

// .signin__container {
//     margin: 0 44px 0 -44px;
//     display: flex;
//     flex-direction: column;
// }

.Signin__title {
    @include text-style-h3;
    color: $color-primary;
    text-align: center;
}

.Signin__go-register {
    color: $color-secondary-light;
    @include text-style-light;
    text-decoration: underline;
    text-align: center;
    margin-top: 1rem;
    opacity: 0.9;
}


.register-form {
    width: 70%;
}

.button-primary {
    @include button-basic;
    @include text-style-button;
    background-color: $color-secondary !important;
    color: $color-neutrals-8 !important;
    border: none !important;
    width: 9rem !important;

    &:hover {
        background-color: $color-secondary-light !important;
    }

    &:active,
    &:focus {
        border-color: $color-secondary !important;
        background: $color-secondary !important;
        box-shadow: $color-secondary !important;
    }

    ::selection {
        color: #fff !important;
        background: $color-secondary !important;
    }
}