@import "../../index.scss";
@import "../../index.css";

.checkout {
    min-height: 50vh;
    padding: 4rem 11.6vw 16.8rem 11.6vw;
    background-color: #F5E7DB;


    &__title {
        @include text-style-h3;
    }

    &__seperator {
        height: .1rem;
        width: 100%;
        background-color: $color-neutrals-7;
    }

    &__content {
        min-height: 50vh;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 7vw;

        @media only screen and (max-width: 992px) {
            flex-direction: column;
        }
    }

    &__left {
        width: 50.69vw;
        padding: 5.4rem 4.8rem;

        &__billing__title {
            @include text-style-subtitle;
        }
    }

    &__right {
        width: 24.3vw;
    }

    &__left,
    &__right {
        background-color: #fff;
        border-radius: 8px;
        min-height: 50vh;

        @media only screen and (max-width: 992px) {
            width: 100%;
        }
    }

    //\\\\\\\\\\\\\ input section for all 3 \\\\\\\\\\\\\\\
    &__billing {
        display: grid;

        &__title {
            @include text-style-h6;
            margin-bottom: 1.6rem;
        }

        &__content {
            display: grid;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-gap: 1rem;
            margin-bottom: 5.3rem;
        }
    }

    &__input-container {
        display: flex;
        flex-direction: column;

    }

    &__input-label {
        @include text-style-label;
        margin-bottom: .9rem;
    }

    &__input {
        margin: 0;
        list-style: none;
        min-width: 0;
        padding: 1rem 0.9rem;
        color: $color-secondary;
        line-height: 1.5715;
        background-color: #fff;
        border: 1px solid #CFCFCF;
        font-family: Manrope;
        letter-spacing: 2px;
        font-size: 14px;
        line-height: 19px;
        border-radius: 8px;
        transition: all .3s;

        &:focus {
            border-color: $color-primary-light;
            box-shadow: 0 0 0 2px rgba($color-primary-light, .3);
        }
    }

    //\\\\\\\\\\\\\ end of input\\\\\\\\\\\\\\\

}