@import '../../base.scss';

.content__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: 100% !important;
    background-position: center 110px;
    background: url(../../assets/home/pattern-circles.png) no-repeat,
        rgba($color-primary, 1);
    flex-direction: column;
}

.header {
    margin-bottom: 5rem;
    font-weight: bold;
    text-align: center;
}

.content {
    background-color: rgba(white, 1);
    border-radius: 16px;
    padding: 2.5rem 5rem;
    display: block;
    width: max(506px, 35vw);

    @media screen and (max-width: 562px) {
        width: 70vw;
        padding: 2rem;

    }

    &__des {
        margin-top: 1rem;
        color: white;
    }
}