@import '../../index.scss';

.header {
    width: 100%;
    min-height: 8.1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9vw;
    background-color: $color-secondary;
    // position: relative;

    // //////////left-header//////////////// //
    .logo-container {
        width: 18vw;
        flex: 1;
    }

    // //////////nav-header//////////////// //
    .nav {
        flex: auto;

        &__items {
            align-items: center;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            list-style-type: none;
            gap: 1.18rem;
            margin-bottom: 0;
            padding-left: 0;
            position: relative;


            .item {
                color: white;
                @include text-style-nav;
                transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
                cursor: pointer;
                padding: 0.5rem;
                border-radius: 10px;

                @media screen and (max-width: 1000px) {
                    display: none;
                }

                &:hover {
                    color: $color-primary-light;
                    border-bottom: 1px solid $color-primary-light;
                    // background-color: $color-primary;
                }

                &:active {
                    color: $color-primary;
                    // border-bottom: 2px solid $color-primary-light;
                    transform: translateY(2px);
                }
            }
        }

        &__category {
            display: none;

            @media screen and (max-width: 1000px) {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                padding-right: 2vw;
            }
        }
    }

    ////////////right-header//////////////// //
    &__right {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-secondary;
        flex: 1;

        @media screen and (max-width: 1000px) {
            display: none !important;
        }

        .button__login {
            @include button-basic;
            @include text-style-button;
            background-color: $color-primary;
            color: $color-neutrals-8;
            margin-right: 1.2rem;
            border: none;
            width: 9rem;

            &:hover {
                background-color: $color-primary-light;
            }

            &:active,
            &:focus {
                border-color: $color-primary;
                background: $color-primary;
                box-shadow: $color-primary;
            }

            ::selection {
                color: #fff;
                background: $color-primary !important;
            }
        }

        .button__signup {
            @include button-basic;
            color: $color-neutrals-7;
            @include text-style-button;
            color: $color-neutrals-2;
            width: 9rem;

            &:hover {
                background-color: $color-neutrals-8;
                color: $color-primary;
            }
        }
    }
}


.hidden {
    display: flex;
    width: 100%;
    background-color: $color-secondary;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    background-color: $color-secondary;
    color: white;

    gap: .6rem;
    @include text-style-nav;
    cursor: pointer;
    list-style-type: none;
    padding-bottom: $gap-small;

    @media screen and (min-width: 1000px) {
        display: none;
    }

    .signin-link {
        padding-bottom: 1rem;
    }

    .button__login {
        @include button-basic;
        @include text-style-button;
        background-color: $color-primary;
        color: $color-neutrals-8;
        border: none;
        width: 9rem;

        &:hover {
            background-color: $color-primary-light;
        }

        &:active,
        &:focus {
            border-color: $color-primary;
            background: $color-primary;
            box-shadow: $color-primary;
        }

        ::selection {
            color: #fff;
            background: $color-primary !important;
        }
    }

    .button__signup {
        @include button-basic;
        color: $color-neutrals-7;
        @include text-style-button;
        color: $color-neutrals-2;
        width: 9rem;

        &:hover {
            background-color: $color-neutrals-8;
            color: $color-primary;
        }
    }
}

.ant-menu-item {
    .ant-meun-item-active {
        color: $color-primary !important;
    }
}