@import '../../index.scss';

.footer {
  padding: 7.5rem 16.5rem 4.8rem 16.5rem;
  background-color: $color-secondary;
  color: white;
  min-height: 36.5rem;

  .content {
    display: flex;
    min-height: 24.2rem;


    &__left {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      width: 50%;
      flex: 1;

      &__img {
        height: 2.5rem;
        width: 17.8rem;
      }

      &__description {
        @include text-style-light;
      }

      &__copyright {
        @include text-style-note;
      }
    }

    &__right {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      flex: 1;

      &__nav {
        @include text-style-nav;
        margin-left: 2.4rem;
        margin-bottom: 10.5rem;

        &>span {
          margin-left: 3.4rem;
        }
      }

      &__social {
        .social-icon {
          margin-left: 1.6rem;
          width: 2.4rem;
          height: 2.4rem;
        }
      }
    }
  }
}